.container{
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.container__title{
  color: rgb(207, 245, 245);
  text-shadow: 0.1em 0.1em #fdfbfb83;
  font-size: 2rem;
  animation: moveText 2s infinite alternate;
}
@keyframes moveText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}
.container__phrase{
  
  width: 100%;
  max-width: 26em;
  background-color: rgba(255, 255, 255, 0.288);
  padding: 2em 2em;
  line-height: 1.4;
  border-radius: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.container__btn{
  color: rgb(0, 0, 0);
  padding: 0.8em 1.2em;
  border-radius: 0.7em;
  font-size: 0.9rem;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 200ms ease,
              transform 200ms ease,
              box-shadow 200ms ease;
  background-color: rgb(58, 224, 94);
}
.container__btn:hover{
  color: rgb(0, 0, 0);
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.384);
}
@media (min-width: 769px) {
  .container__title{
    font-size: 4rem;
  }
  .container__phrase{
    font-size: 2rem;
  }
  .container__btn{
    font-size: 2rem;
  }
}
@media (max-width: 769px) {
  .container__title{
    font-size: 1.8rem;
  }
  .container__phrase{
    font-size: 0.9rem;
  }
  .container__btn{
    font-size: 0.8rem;
  }
  body{
    margin: 0;
  }
}
